
p{
    font-size: 16px;
}
.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    /* height: 500px; */
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    /* overflow-y: scroll; */
    display: block;
    overflow: auto;
  }

  H1{
      text-align: center;
  }

  img{
      align: center;
  }

  button{
      margin: 10px;
  }